body{
    margin:0 ;
}

.one{
    width:200px;
    height:200px;
    background-color:brown;
     margin-top:10px;
    margin:auto;
   
}

.two{
    width:200px;
    height:200px;
    background-color:orange;
    
}

.three{
    width:200px;
    height:200px;
    background-color:green;
}

h2{
    padding:0;
    margin-left: auto;
}

div h3{
    padding: 0;
    text-align: right;
    margin:20px;
    font-size: 10em;
}