body {
    background-color: black;}

body {
display: flex;
justify-content: center;
align-items: center;
height:100vh;
}


.button{
    width: 150px;
    height: 50px;
    font-size:0.9em;
    color:yellow;
    background-color: black;
    border:1px solid yellow;
}

.button:hover{
    color:black;
    background-color: yellow;
    border-radius: 2em;
    transition-duration: 2s;   
}


button:hover span {display:none}
button:hover:before {content:"Google"}